* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #001e4d;
}

.app {
  background: #fff;
  width: 97%;
  max-width: 600px;
  margin: 40px auto 0;
  border-radius: 10px;
  padding: 20px;
  margin-top: 8px;
}

.app h1 {
  font-size: 20px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.quiz {
  padding-top: 50px;
  padding-bottom: 5px;
}

.quiz h2 {
  font-size: 20px;
  color: #001e4d;
  font-weight: 600;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

#next-btn {
  background-color: #e7f6d5;
  color: darkgreen;
  font-weight: 500;
  font-size: 15px;
  width: 80px;
  border: 0.5px solid;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#previous-btn {
  background: #ff9800;
  color: #000;
  border-color: #ffab91;
  font-weight: 500;
  font-size: 15px;
  width: 80px;
  border: 0.5px solid;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
}

#explain-btn {
  background-color: #ffdde0;
  color: darkred;
  border-color: #d32f2f;
  font-weight: 500;
  width: 80px;
  border: 0.5px solid;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

#btn-container {
  display: flex;
}

#timer-container {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 15px;
  position: relative;
}

#timer {
  height: 100%;
  background-color: #76c7c0;
  width: 100%;
  transition: width 1s linear;
}

.progress-bar {
  background-color: #e1f5fe;
  width: 60%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -50px;
  margin-bottom: 10px;
  padding: 5px 10px;
  float: right;
  position: relative;
}

.progress {
  font-weight: bold;
}

.total {
  font-style: italic;
}

.incorrect {
  background-color: #ffdde0;
  color: darkred;
  border-color: #d32f2f;
}

.correct {
  background-color: #e7f6d5;
  color: darkgreen;
  border-color: green;
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
}

.popup-content {
  background-color: #ECBCC0;
  font-size: 18px;
  margin: 10% auto;
  padding: 20px;
  padding-top: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease;
}

.close {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 2px;
  transition: color 0.3s ease, transform 0.3s ease;
  background: rgba(68, 160, 241, 0.91);
  border-radius: 50%;
  padding: 2px 2px;
}

.close:hover,
.close:focus {
  color: #321E32E8;
  text-decoration: none;
  background: #BC37B8E8;
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.thank-btn {
  display: none;
  background: linear-gradient(45deg, seagreen, darkgreen);
  color: white;
  font-weight: 700;
  font-size: 22px;
  width: 200px;
  border: 2px solid transparent;
  padding: 12px;
  margin: 90px auto 0;
  border-radius: 50px;
  text-align: center;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thank-btn:hover,
.thank-btn:focus {
  background: linear-gradient(45deg, darkgreen, seagreen);
  transform: scale(1.05);
  border-color: seagreen;
  }
